PORT=8080
KUBECONFIG=${HOME}/.kube/config

GATEKEEPER_GATE_GROUP=platform.glueops.dev
GATEKEEPER_GATE_VERSION=v1alpha1
GATEKEEPER_GATE_RESOURCE=gates

GATEKEEPER_PLATFORM_ALLOWED_NAMESPACE_PREFIXES="glueops-core-"
GATEKEEPER_PLATFORM_ALLOWED_NAMESPACES="glueops-core,nonprod"